<footer class="text-bg-dark">
    <div class="container">
        <div class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <p class="col-md-4 mb-0 text-white">Brown Streak Railroad</p>

                <app-logo-small></app-logo-small>

            <ul class="nav col-md-4 justify-content-end">
                @for (option of nav_options; track option) {
                    <li class="nav-item"><a [href]="option[1]" class="nav-link px-2 text-white">{{ option[0] }}</a></li>
                }
            </ul>
        </div>
    </div>
</footer>