<app-header></app-header>
<main class="container text-center my-5">
    <heading1 [text]="'Stations of San Andreas'"></heading1>
    <p class="lead">
        Welcome to the official guide to the San Andreas stations, operated by Brown Streak.
        On this page, we provide you with a detailed description of each of our stations, along with useful information to help you plan your journey.
        From key access points to the services available at each location, we're here to enhance your travel experience.
        Explore our stations, find out how to reach them, and get ready to enjoy a comfortable and safe journey across San Andreas. See you on the tracks!
    </p>
</main>
<section-component [title]="'All our stations!'">

</section-component>
<app-footer></app-footer>