<header class="p-3 text-bg-dark">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

            <app-logo-small></app-logo-small>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                @for (option of nav_options; track option) {
                    <li><a href="#" class="nav-link px-2 text-white">{{ option }}</a></li>
                }
            </ul>
        </div>
    </div>
</header>