<main>
    <img src="../../../assets/img/Brown_Streak_Railroad-Go_For_The_Brown.webp" alt="Brown Streak Railroad Go For The Brown">
    <h1>Brown Streak Railroad</h1>
    <p>Afraid to fly? Don’t miss out on the breathtaking landscapes of San Andreas.
        Don’t wait call now to hear our special package deals. Go for the brown.</p>
    <p class="text-warning">Call for reservations!</p>
</main>
<section>
    <!-- Pricing -->
    <table>
        <thead>
            <tr>
                <th>Route</th>
                <th>Pricing</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Within the same City</th>
                <th>$10</th>
            </tr>
            <tr>
                <th>Los Santos - San Fierro</th>
                <th>$50</th>
            </tr>
            <tr>
                <th>Los Santos - Las Venturas</th>
                <th>$75</th>
            </tr>
            <tr>
                <th>San Fierro - Las Venturas</th>
                <th>$60</th>
            </tr>
        </tbody>
    </table>
</section>
<section>
    <!-- Our Stations -->
    <h2>Stations of San Andreas</h2>
    <div>
        <img src="../../../assets/img/Vinewood.webp" alt="Los Santos Img">
        <h3>Los Santos</h3>
    </div>
    <div>
        <img src="../../../assets/img/San_Fierro.webp" alt="San Fierro Img">
        <h3>San Fierro</h3>
    </div>
    <div>
        <img src="../../../assets/img/Las_Venturas.webp" alt="Las Venturas Img">
        <h3>Las Venturas</h3>
    </div>
    <button>View details of Stations</button>
</section>
<section>
    <!-- Timetable -->
    <h2>Timetable</h2>
</section>
<app-footer></app-footer>