<app-header></app-header>
<main class="py-5">
    <img class="img-fluid mx-auto d-block mb-4" src="../../../assets/img/Brown_Streak_Railroad-Logo.webp"
        alt="Brown_Streak_Railroad-Logo">
    <div class="text-center">
        <h1 class="fw-bolder">Brown Streak Railroad</h1>
        <p class="lead">Afraid to fly? Don’t miss out on the breathtaking landscapes of San Andreas.
            <br>Don’t wait call now to hear our special package deals. Go for the brown.
            <span class="text-warning">Call for reservations!</span>
        </p>
    </div>
</main>
<section class="container py-5">
    <!-- Pricing -->
    <h2 class="fw-bold text-center">Check your destination</h2>
    <div class="py-5">
        <app-main-search></app-main-search>
    </div>
</section>
<section class="container py-5 text-center">
    <!-- Our Stations -->
    <h2 class="fw-bold">Stations of San Andreas</h2>
    <div class="row py-5">
        <div class="col-md-4">
            <img class="img-fluid rounded-3 mb-3" src="../../../assets/img/Vinewood.webp" alt="Los Santos Img">
            <h3 class="pb-2 fw-semibold">Los Santos</h3>
            <p>
                At times you may need to put some distance between yourself and those
                that are in pursuit. If this is the case, we recommend that you make your
                way to LSX or take the first train out of Los Santos. Train stations are
                located within the city limits at Vinewood and in Little Mexico.
            </p>
        </div>
        <div class="col-md-4">
            <img class="img-fluid rounded-3 mb-3" src="../../../assets/img/San_Fierro.webp" alt="San Fierro Img">
            <h3 class="pb-2 fw-semibold">San Fierro</h3>
            <p>
                Need to get out of San Fierro in a quick fashion? Don’t have money
                for a plane ticket? Or maybe you just don’t like to fly? Whatever the
                reason may be…you can still hop on a train, Cranberry Station is located
                in the heart of the Doherty district so make haste.
            </p>
        </div>
        <div class="col-md-4">
            <img class="img-fluid rounded-3 mb-3" src="../../../assets/img/Las_Venturas.webp" alt="Las Venturas Img">
            <h3 class="pb-2 fw-semibold">Las Venturas</h3>
            <p>
                You got no cash, maxed out your credit cards, pawned your Crowex
                President and still owe the house 50 large. You have to get the hell
                out of Las Venturas! Make your way to the Prickle Pine district and
                catch the Brown Streak out of town.
            </p>
        </div>
    </div>
    <button type="button" class="btn btn-warning">View details of Stations</button>
</section>
<section class="container py-5 text-center">
    <!-- Timetable -->
    <h2 class="fw-bold">Timetable</h2>
</section>
<app-footer></app-footer>