<div class="map">
    <img src="./assets/img/SanAndreasMapHD.webp" alt="San Andreas Map" width="100%">
    <div class="pin-marker-base" style="top: 81%; left: 79%">
        <img src="../../../assets/img/Pin_Marker.png" alt="Pin Marker">
    </div>
    <div class="pin-marker-base" style="top: 72%; left: 63.5%">
        <img src="../../../assets/img/Pin_Marker.png" alt="Pin Marker">
    </div>
    <div class="pin-marker-base" style="top: 47.5%; left: 17%">
        <img src="../../../assets/img/Pin_Marker.png" alt="Pin Marker">
    </div>
    <div class="pin-marker-base" style="top: 6%; left: 74%">
        <img src="../../../assets/img/Pin_Marker.png" alt="Pin Marker">
    </div>
    <div class="pin-marker-base" style="top: 21%; left: 96%">
        <img src="../../../assets/img/Pin_Marker.png" alt="Pin Marker">
    </div>
    <div class="pin-marker-base" style="top: 28%; left: 97%">
        <img src="../../../assets/img/Pin_Marker.png" alt="Pin Marker">
    </div>
</div>