.map {
    position: relative;
}

.pin-marker-base {
    position: absolute;
    height: 1px;
    width: 1px;
    /* background-color: greenyellow; */ 
}

.pin-marker-base img {
    position: absolute;
    height: 30px;
    width: 17px;
    left: -8.5px;
    bottom: 0px;
}