<div class="bg-warning rounded-3 px-4 py-5">
    <div class="d-flex flex-row gap-4 mb-3">
        <div class="form-check">
            <input name="tripDirection" type="radio" class="form-check-input" required checked>
            <label class="form-check-label" for="credit">Round trip</label>
        </div>
        <div class="form-check">
            <input name="tripDirection" type="radio" class="form-check-input" required>
            <label class="form-check-label" for="credit">One way</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md mb-4">
            <select class="form-select" required>
                <option value="" disabled selected hidden>From</option>
                @for (station of stations; track station) {
                    <option>{{ station }}</option>
                }
            </select>
        </div>
        <div class="col-md mb-4">
            <select class="form-select" required>
                <option value="" disabled selected hidden>To</option>
                @for (station of stations; track station) {
                    <option>{{ station }}</option>
                }
            </select>
        </div>
        <div class="col-md mb-4 d-flex flex-row gap-4">
            <input type="number" class="form-control" min="1" value="1" required>
            <button type="button" class="btn btn-dark">Search...</button>
        </div>
    </div>
</div>